#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #800080;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#loading.loaded {
  opacity: 0;
  visibility: hidden;
}
.loader001,
.loader001:before,
.loader001:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader001 {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader001:before,
.loader001:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader001:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader001:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
body {
    font-size: 15pt;
    background-color:#9400d3;    
}
.title { 
   margin-right: auto; 
   width: 400px; 
   height:100px; 
   margin: auto; 
   display: block; 
 }
.logo1{
  border-bottom: 3px solid #333;
  padding: 10px;
  margin:20px;
}
h1 {
  width: 600px;
  height: 80px;
  background-color: #00FFFF;
}
img{
  width: 300px;
  height: 300px
}
li{
  float: right;
}
.footer-logo{
    border-top: 3px solid #333;
    padding: 10px;
    margin:20px;
}
.saisin {
  border-bottom: 3px solid #333;
  padding: 10px;
  margin: 20px;
}
.dest {
  border-bottom: 3px solid #333;
  padding: 10px;
  margin: 20px;
}
img{
  width: 300px;
  height: 300px
}
li{
  float: right;
}
.footer-logo{
    border-top: 3px solid #333;
    padding: 10px;
    margin:20px;
}
.dest {
  border-bottom: 3px solid #333;
  padding: 10px;
  margin: 20px;
}
nav{
  display: block;
  width: 220px;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}
.open nav{
  left: 0;
  opacity: 1;
}
nav .inner{
  padding: 25px;
}
nav .inner ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li{
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a{
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  padding: 1rem;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover{
  background-color: #e4e4e4
}
.toggle-btn{
  display:block;
  position: fixed;
  top: 30px;
  right: 80px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}
.toggle-btn span{
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  border-radius: 4px;
}
.toggle-btn span:nth-child(1){
  top: 4px;
}
.toggle-btn span:nth-child(2) {
  top: 14px;
}
.toggle-btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle-btn span{
  background-color: #fff;
}
.open .toggle-btn span:nth-child(1){
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}
#mask{
  display: none;
  transition: all 0.5s;
}
.open mask{
  display: block;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  cursor: pointer;
}
